@import '_fonts';
@import '_grid';
@import '_loader';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
	background-color: #FFF;
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 55px;
	font-weight: 900;
	line-height: 65px;
	margin-top: 0;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	margin: 0 0 8px;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	margin: 0 0 8px;
}

blockquote {
	font-size: 37px;
	font-weight: 600;
	line-height: 45px;
	margin: 20px 0;
	text-align: center;
}

figcaption {
	margin-bottom: 40px;
	text-align: center;
}

sup {
	font-size: 10px;
}

a,
a:visited {
	color: #79AFE7;
}

main {
	flex: 1;
	opacity: 0;
	transition: opacity 0.5 ease;
}

p {
	font-size: 16px;
	line-height: 26px;
	&.source {
		font-size: 14px;
		line-height: 20px;
	}
}

footer {
	border-top: 1px solid #888;
	color: #505050;
	margin-top: 40px;
	padding: 10px 0 10px;
	width: 100%;
	p {
		font-size: 12px;
		line-height: 20px;
	}
	.inner {
		display: flex;
		flex-flow: row;
		margin: 0 auto;
		width: 800px;
		.left {
			width: 60%;
		}
		.right {
			padding-top: 15px;
			text-align: right;
			width: 40%;
		}
		.footer-logos {
			align-items: center;
			display: flex;
			margin: 30px 0 20px;
			img {
				margin-left: 30px;
			}
		}
	}
	.inner-full {
		margin: 0 auto;
		width: 800px;
	}
}
.footnote-sources {
	font-size: 10px;
	line-height: 10px;
	margin: 0 auto;
	width: 800px;
	sup {
		font-size: 8px;
	}
}

.btn-dataviz,
.btn-story {
	align-items: center;
	color: #000;
  cursor: pointer;
  flex-flow: row;
  font-size: 14px;
  .arrow {
		background: no-repeat url('../assets/icons/arrow_black.svg');
    display: inline-block;
    height: 10px;
    margin: 0 0 0 5px;
		width: 30px;
  }
  &:hover {
  	text-decoration: underline;
  }
  &.active {
  	display: flex;
  }
}

.btn-story {
	display: none;
	left: 15px;
	position: fixed;
	top: 20px;
  .arrow {
		background-position: left center;
    margin: 0 5px 0 0;
		transform: rotate(-180deg);
	}
}

.btn-dataviz {
  margin: 10px 15px;
	text-align: right;
}

.btn-donate {
	background-color: #357BC6;
  border: 1px solid #707070;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: 40px 0 20px;
  padding: 9px 26px;
  text-decoration: none;
  &:hover {
		background-color: #006ABF;
  	color: #FFF;
  }
}

.center-align {
	text-align: center;
}

.scroll-arrow {
	animation: arrowAnim 5s ease-in-out infinite;
	bottom: 20px;
	color: #FFF;
	left: 50%;
	margin: 0 0 0 -15px;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	z-index: 2;
}

.arrow-text {
	display: inline-block;
	animation: blink 5s ease-in-out infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
  	opacity: 0.4;
  }
}

@keyframes arrowAnim {
	0%, 100% {
		transform: translateY(1rem);
	}
	50% {
		transform: translateY(-1rem);
	}
}

.logos {
	img {
		margin-right: 40px;
		margin-bottom: 0;
		vertical-align: top;
		width: auto;
	}
}

.credit {
  bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  left: 5px;
	position: fixed;
}

.story-container {
	margin: 0 auto;
	.pin-item {
		height: 100vh;
		height: -webkit-fill-available;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		.item {
	  	transition: opacity 1s ease; 	
			img,
			div {
				display: block;
		    height: 100%;
		    left: 50%;
		    object-fit: cover;
		    position: absolute;
		    top: 50%;
		    transform: translate3d(-50%, -50%, 0);
	    	width: 100%;
			}
		}
	}
}
.section {
	color: #FFF;
	height: auto;
	min-height: 125vh;
	position: relative;
	z-index: 2;
	.section-inner {
		margin: 0 auto;
		width: 800px;
	}
	.box {
		height: 100vh;
		.box-inner {
			background-color: rgba(255, 255, 255, 0.85);
			color: #000;
			margin: 0 auto;
			padding: 10px 0;
			width: 660px;
			p {
				margin: 0;
				padding: 10px 20px;
			}
		}
	}	
	.intro {
		color: #FFF;
		height: auto;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 20%;
		transform: translate(-50%, -20%);
  	width: 100%;
		p {
			font-weight: 600;
			margin: 0 auto;
			width: 434px;
		}
	}
	&[data-section="1"] {
		height: 150vh;
	}
	&[data-section="2"] {
		height: 250vh;
		.box {
			height: 125vh;
		}
	}
	&#conclusion {
		color: #000;
		min-height: 100vh;
		padding-top: 10px;
		> p {
			margin: 0 auto;
			padding: 10px 0;
			width: 800px;
		}
		.double-layout div {
			margin-top: 40px;
		}
	}
}
.dial {
	bottom: -710px;
	left: 50%;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	transform-origin: 0% 50%;
	transform: rotate(0deg) translateX(-50%);
	width: 660px;
	z-index: 3;
	transition: transform 0.7s ease-in-out;
	img {
		width: 100%;
	}
}

.dataviz-container {
	background-color: #FFF;
	bottom: 0;
	overflow-y: auto;
	position: fixed;
	left: 100vw;
	top: 0;
	width: 100vw;
	z-index: 6;
	.dataviz {
		margin: 0 auto;
		width: 900px;
		p {
			margin: 0 auto;
			padding: 20px 0;
			width: 800px;
			&.source {
				font-size: 12px;
				padding: 5px 0 36px;
				width: 100%;
			}
		}
		iframe {
			border: 0;
			height: 100%;
			min-height: 500px;
			width: 100%;
		}
		.layout-container {
			padding: 50px 0;
		}
  	.chart-container {
			height: 350px;
			position: relative;
			width: 100%;
		}
		&.dataviz-4 {
			iframe {
				height: 670px;
				padding: 10px 0 0 0;
			}
			canvas {
				margin-top: 20px;
			}
			.single-layout {
				width: 50%;
			}
		}
		&.dataviz-6 {
			iframe {
				height: 650px;
			}
		}
	}
}

.double-layout {
	display: flex;
	flex-flow: row;
	width: 100%;
	div {
		height: auto;
		width: 50%;
		&:first-child {
			padding-right: 10px;
		}
		&:last-child {
			padding-left: 10px;
		}
		img {
			height: auto;
			width: 100%;
		}
	}
}

.single-layout {
	margin: 0 auto;
	width: 75%;
	img {
		height: auto;
		width: 100%;
	}
}

label {
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 18px;
}

select {
	background-color: #FFF;
  border-color: #FFF;
	border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  margin: 5px 0 30px 4px;
  padding: 0;
  width: auto;
}

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 40px;
    line-height: 55px;
	}
	blockquote {
		font-size: 29px;
		line-height: 38px;
	}
	footer {
		.inner {
			flex-flow: column;
    		padding: 0;
			width: 100%;
			.left,
			.right {
				width: 100%;
			}
			.footer-logos {
				justify-content: space-between;
				a {
					img{
						height: auto;
						margin-left: 0;
						width: 125px;
					}
				}
			}
		}
		.inner-full {
			width: 100%;
		}
		.footnote-sources {
    		padding: 0;
			width: 100%;
		}
	}
	.btn-story {
		background-color: rgba(255,255,255,0.5);
	}
	.section {
		padding: 0 20px;
		.section-inner {
			width: 100%;
		}
		.intro {
			padding: 0 20px;
			p {
				width: 100%;
			}
		}
		.box {
			.box-inner {
				width: 100%;
			}
		}
		&#conclusion {
			> p {
				width: 100%;
			}
		}
	}
	.dial {
		width: 100%;
	}
	.dataviz-container {
		.dataviz {
    	padding: 90px 20px 0;
    	width: 100%;
    	p {
    		width: 100%;
    	}
    	.chart-container {
				height: 50vh;
				position: relative;
				width: 100%;
			}
    }
	}
	.double-layout {
		flex-flow: column;
		div {
			width: 100%;
			&:first-child,
			&:last-child {
				padding: 0;
			}
		}
	}
	.single-layout {
		width: 100%;
	}
}
