@import '_fonts';
@import '_grid';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	font-size: 64px;
	line-height: 80px;
	margin-top: 0;
}

h2 {
	font-family: 'Source Sans Pro', serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	margin: 0 0 8px;
}

h3 {
	font-family: 'Source Sans Pro', serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	margin: 0 0 8px;
}

a,
a:visited {
	color: #79AFE7;
}

main {
	flex: 1;
}

nav {
	display: none;
  left: 50%;
	position: fixed;
  margin: 0 auto;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  width: 702px;
  z-index: 4;
	ul {		
		display: flex;
  	justify-content: space-between;
		flex-flow: row;
		list-style-type: none;
		padding: 0;
		li {
			cursor: pointer;
			padding: 0 21px;
			width: 20%;
			&:hover,
			&.active {
				img {
					background-color: #3B3F3D;
				}
				span {
					font-weight: 600;
				}
			}
			img {
				background-color: #888;
				box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    		border-radius: 50%;
				margin-bottom: 8px;
				transition: background-color 0.5s ease;
			}
			span {
				font-weight: normal;
				text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
				text-transform: uppercase;
				white-space: nowrap;
			}
		}
	}
	&.nav-dataviz {
		left: auto;
		margin-bottom: 50px;
		position: relative;
		top: auto;
		transform: none;
		ul li {
			&:hover,
			&.active {
				img {
					background-color: #4B978F;
				}
			}
			img {
				background-color: #5DBCB3;
			}
			span {
				text-shadow: none;
			}
		}
	}
}

p {
	font-size: 18px;
	line-height: 24px;
	&.source {
		font-size: 14px;
		line-height: 20px;
	}
}

footer {
	background-color: #353535;
	color: #FFF;
	display: none;
	padding: 20px 0 10px;
	z-index: 5;
}

.btn-dataviz,
.btn-story {
	align-items: center;
	color: #000;
  cursor: pointer;
  display: none;
  flex-flow: row;
  font-size: 14px;
  left: auto;
	position: fixed;
  right: 20px;
  top: 50%;
  z-index: 5;
  .arrow {
		background: no-repeat url('../assets/icons/arrow_black.svg');
    display: inline-block;
    height: 10px;
    margin: 0 0 0 5px;
		width: 30px;
  }
  &.active {
  	display: flex;
  }
  &.light {
		color: #FFF;
	  .arrow {
			background: no-repeat url('../assets/icons/arrow_white.svg');
		}
  }
}

.btn-story {
	left: 20px;
	right: auto;
  .arrow {
		background-position: left center;
    margin: 0 5px 0 0;
		transform: rotate(-180deg);
	}
}

.tooltip {
	max-width: 250px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	color: black; 
	padding: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.scroll-arrow {
	animation: scroll 5s ease-in-out infinite;
	bottom: 20px;
	color: #FFF;
	left: 50%;
	margin: 0;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	z-index: 2;
}

.arrow-text{
	display: inline-block;
	animation: blink 5s ease-in-out infinite;
}

@keyframes scroll {
	0%, 100% {
		transform: translateY(1rem);
	}
	50% {
		transform: translateY(-1rem);
	}
}

.logos {
	img {
		margin-right: 40px;
		margin-bottom: 0;
		vertical-align: top;
		width: auto;
	}
}

.story-container {
	margin: 0 auto;
	.pin-item {
		height: 100vh;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		.item {
	  	transition: opacity 1s ease;
	  	&.item-1 {
	  		margin-top: -200px;
	  	}
	  	&.item-2 {
	  		div {
	  			background-color: #FCD09A;
	  		}
	  	}
	  	&.item-8 {
	  		div {
	  			background-color: #EFE4CE;
	  		}
	  	}  	
			img,
			div {
				display: block;
		    height: 100%;
		    left: 50%;
		    object-fit: cover;
		    position: absolute;
		    top: 50%;
		    transform: translate3d(-50%, -50%, 0);
	    	width: 100%;
			}
		}
	}
}
.section {
	color: #FFF;
	height: auto;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	&[data-section="1"] {
		height: 150vh;
	}
	.box {
		height: 100vh;
		p {
			background-color: rgba(255, 255, 255, 0.75);
			color: #000;
			margin: 0 auto;
			padding: 20px;
			text-align: justify;
			width: 660px;
		}
	}	
	.intro {
		color: #FFF;
		height: auto;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 20%;
		transform: translate(-50%, -20%);
  	width: 100%;
		p {
			font-size: 28px;
			line-height: 35px;
			margin: 0 auto;
			width: 660px;
		}
	}
}
.dial {
	bottom: -710px;
	left: 50%;
	opacity: 0;
	position: fixed;
	transform-origin: 0% 50%;
	transform: rotate(0deg) translateX(-50%);
	width: 660px;
	z-index: 3;
	transition: transform 0.7s ease-in-out;
	img {
		width: 100%;
	}
}
.girl {
  bottom: 15px;
  display: none;
  left: 50%;
  height: auto;
	position: fixed;
  transform: translateX(-50%);
  width: 60px;
  z-index: 4;
}

.dataviz-container {
	background-color: #EEE;
	bottom: 0;
	overflow-y: auto;
	position: fixed;
	left: 100vw;
	top: 0;
	width: 100vw;
	z-index: 6;
	.dataviz {
		margin: 0 auto;
		max-width: 1082px;
		p {
			margin: 0 auto;
			padding: 50px 0;
			width: 620px;
			&.source {
				padding: 5px 0 36px;
				width: 100%;
			}
		}
		iframe {
			border: 0;
			height: 100%;
			min-height: 500px;
			width: 100%;
		}
		.container {
			padding: 50px 0;
		}
		&.dataviz-3 {
			iframe {
				height: 700px;
			}
		}
		&.dataviz-5 {
			iframe {
				height: 650px;
			}
		}
	}
}

.double-layout {
	display: flex;
	flex-flow: row;
	width: 100%;
	div {
		height: auto;
		width: 50%;
		&:first-child {
			padding-right: 10px;
		}
		&:last-child {
			padding-left: 10px;
		}
		img {
			height: auto;
			width: 100%;
		}
	}
}

.single-layout {
	margin: 0 auto;
	width: 75%;
	img {
		height: auto;
		width: 100%;
	}
}


@media only screen and (max-width: 767px) {
	nav {
		width: 100%;
		ul {
			li {
				padding: 0 11px;
				span {
					white-space: normal;
				}
			}
		}
	}
	h1 {
		font-size: 40px;
    line-height: 55px;
	}
	.section {
		padding: 0 20px;
		.intro {
			padding: 0 20px;
			p {
				font-size: 18px;
				line-height: 25px;
				width: 100%;
			}
		}
		.box {
			p {
				width: 100%;
			}
		}
	}
	.dataviz-container {
		.dataviz {
    	padding: 90px 20px 0;
    	width: 100%;
    	p {
    		width: 100%;
    	}
    	&.dataviz-1 {
    		iframe {
    			height: 100%;
    			width: 100%;
    		}
    	}
    }
	}
	.double-layout {
		flex-flow: column;
		img {
			height: auto;
			width: 100%;
			&:first-child,
			&:last-child {
				padding: 0 0 20px;
			}
		}
	}
	.single-layout {
		width: 100%;
	}
}
